.navigation-block{
	&__element{
		color: #fff;
		font-size: 17px;
		font-weight: 600;
		transition: color 0.4s ease 0s;
		&:first-child{
			margin-right: 10px;
		}
		&:hover{
			color: rgb(0, 213, 255);
			text-decoration: underline;
		}
	}
}